html {
    scroll-behavior: smooth;
}
h1 {
    font-family: "Raleway", sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.page_header {
    height: 100vh;
    min-height: 500px;
    background: url("../img/header/portrait_me.jpg"), center no-repeat;
    background-size: cover;
}

.header_text {
    display: none;
}

.footer {
    margin-top: 50px;
}

.img_separator {
    max-width: 100%;
}

.display-2 {
    color: #ffffff;
}

.display-1 {
    color: #ffffff
}

.divider {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.section_icon {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
    color: #00586f;
}

.section_header {
    margin-bottom: 20px;
}

.section_title {
    color: #00586f;   
}

.section_title.about_me {
    margin-top: 50px;
    text-decoration: underline;
}

.row_experience {
    height: 40px;
}

.col_left {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18pt; 
}

.col_right {
    font-weight: normal;
    font-size: 18pt;
}

.col_hyphen {
    width: 35px;
}

.exp_bar_gained {
    background-color: #00586f;
    height: 30px;
}

.exp_bar_empty {
    background-color: #a0b0b6;
    height: 30px;
}

.hobby {
    position: relative;
    height: 200px;
    padding: 5px;
}

.img_hobby {
    max-height: 100%;
    max-width: 100%;
}

.text_hobby {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: normal;
    color: #ffffff;
}

/*-----Radial-Menu specific-----*/

.radial_menu {
    top: 15px;
    left: 15px;
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.menu_item {
    width: 60%;
    height: 60%;
    background-color: #169bbd;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    z-index: 19;
    display: none;
}

.menu_main {
    top: 15px;
    left: 15px;
    width: 100px;
    height: 100px;
    background: #00586f;
    border-radius: 50%;
    z-index: 21;
    color: white;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
}

#secret_main {
    display: none;
    z-index: 20;
}

#menu_item1 {
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
  
#menu_item2 {
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
}
  
#menu_item3 {
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
  
#menu_item4 {
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;
}

#menu_item5 {
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}

#menu_item6 {
    transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .5s;
}

/*-----Lightsaber-DIVs-----*/
.lightsaber {
	transition: height 300ms,;
	-moz-transition: height 300ms;
	-webkit-transition: height 300ms;
	-o-transition: height 300ms;
	-ms-transition: height 300ms;
	border-radius: 12px 12px 0 0;
	position: absolute;
	bottom: 55px;
	left: 2px;
	width: 10px;
	display: block;
	filter: blur(1px);
	-moz-filter: blur(1px);
	-webkit-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	height: 100%;
}

.lightside {
    float: left;
	background: rgb(135,220,90); /* Old browsers */
	background: linear-gradient(to right, rgb(135,220,90) 0%,rgb(254,254,254) 30%,rgb(254,254,254) 50%,rgb(254,254,254) 70%,rgb(135,220,90) 100%); /* W3C */
	background: -moz-linear-gradient(left, rgb(135,220,90) 0%, rgb(254,254,254) 30%, rgb(254,254,254) 50%, rgb(254,254,254) 70%, rgb(135,220,90) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(135,220,90)), color-stop(30%,rgb(254,254,254)), color-stop(50%,rgb(254,254,254)), color-stop(70%,rgb(254,254,254)), color-stop(100%,rgb(135,220,90))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgb(135,220,90) 0%,rgb(254,254,254) 30%,rgb(254,254,254) 50%,rgb(254,254,254) 70%,rgb(135,220,90) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgb(135,220,90) 0%,rgb(254,254,254) 30%,rgb(254,254,254) 50%,rgb(254,254,254) 70%,rgb(135,220,90) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgb(135,220,90) 0%,rgb(254,254,254) 30%,rgb(254,254,254) 50%,rgb(254,254,254) 70%,rgb(135,220,90) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87dc5a', endColorstr='#87dc5a',GradientType=1 ); /* IE6-9 */
	animation-name: yoda;
	-moz-animation-name: yoda;
	-webkit-animation-name: yoda;
	-o-animation-name: yoda;
	-ms-animation-name: yoda;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
}

.darkside {
    float: right;
	background: rgb(229,17,21); /* Old browsers */
	background: linear-gradient(to right, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* W3C */
	background: -moz-linear-gradient(left, rgba(229,17,21,1) 0%, rgba(254,254,254,1) 30%, rgba(254,254,254,1) 47%, rgba(254,254,254,1) 71%, rgba(229,17,21,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,17,21,1)), color-stop(30%,rgba(254,254,254,1)), color-stop(47%,rgba(254,254,254,1)), color-stop(71%,rgba(254,254,254,1)), color-stop(100%,rgba(229,17,21,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(229,17,21,1) 0%,rgba(254,254,254,1) 30%,rgba(254,254,254,1) 47%,rgba(254,254,254,1) 71%,rgba(229,17,21,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51115', endColorstr='#e51115',GradientType=1 ); /* IE6-9 */
	animation-name: vader;
	-moz-animation-name: vader;
	-webkit-animation-name: vader;
	-o-animation-name: vader;
	-ms-animation-name: vader;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
}

@keyframes lightside {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}
@-moz-keyframes lightside {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}
@-webkit-keyframes lightside {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}
@-o-keyframes lightside {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}
@-ms-keyframes lightside {
	from { box-shadow: 0 0 10px #7EC855; }
	50% { box-shadow: 0 0 16px #7EC855; }
	to { box-shadow: 0 0 10px #7EC855; }
}

@keyframes darkside {
	from { box-shadow: 0 0 10px #e51115; }
	50% { box-shadow: 0 0 16px #e51115; }
	to { box-shadow: 0 0 10px #e51115; }
}
@-moz-keyframes darkside {
	from { box-shadow: 0 0 10px #e51115; }
	50% { box-shadow: 0 0 16px #e51115; }
	to { box-shadow: 0 0 10px #e51115; }
}
@-webkit-keyframes darkside {
	from { box-shadow: 0 0 10px #e51115; }
	50% { box-shadow: 0 0 16px #e51115; }
	to { box-shadow: 0 0 10px #e51115; }
}
@-o-keyframes darkside {
	from { box-shadow: 0 0 10px #e51115; }
	50% { box-shadow: 0 0 16px #e51115; }
	to { box-shadow: 0 0 10px #e51115; }
}
@-ms-keyframes darkside {
	from { box-shadow: 0 0 10px #e51115; }
	50% { box-shadow: 0 0 16px #e51115; }
	to { box-shadow: 0 0 10px #e51115; }
}

/*-----Media-Queries-----*/
@media all and (max-width: 980px) {
    .page_header {
        height: 100vh;
        min-height: 500px;
        background: url("../img/header/portrait_me_980px.jpg"), center no-repeat;
        background-size: cover;
    }
}

@media all and (max-width: 736px) { 
    .page_header {
        height: 100vh;
        min-height: 500px;
        background: url("../img/header/portrait_me_736px.jpg"), center no-repeat;
        background-size: cover;
    }
}